/**
 * main.css
 *
 * 1. General HTML tags
 * 2. Masthead area
 * 3. Main content and sidebar
 * 4. Footer
 * 5. Media queries for responsive layout
 *
 */

/*********************************************************************
 * 1. General HTML tags
 *
 */

* {
	box-sizing: border-box;
}

body, td, input[type=text], textarea {
	font-family: 'Lato', sans-serif;
	font-size: 105%;
	line-height: 1.8em;
	color: #585858;
	background-color: #f7f7f7;
}

h2 {
	font-size: 18px;
}

img {
	max-width: 100%;
}

button:hover {
}

/* Top header */
#top-header {
	background-color: #1f1f1f;
}

#logo {
	width: 80px;
	height: auto;
}

.navbar-default {
	padding: 10px 0 0 0;
	background: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-family: 'Helvetica', sans-serif;
}

.navbar {
	margin: 0;
}

.navbar-nav {
	float: none;
	text-align: center;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li.current > a {
	/*background-color: white;*/
	color: gray;
}

.navbar-default .navbar-collapse {
	border: none;
}

.navbar-brand {
	padding-top: 10px;
	padding-left: 0;
}
/*********************************************************************
 * 2. Masthead area
 *
 */

form.search {
	float: right;
	margin: 0;
	width: 30%;
}
form.search input {
	margin: 0;
	padding: 0.25em 0.5em;
	border: 1px solid #ccc;
	width: 100%;
}
form.search button {
	display: none;
}


/*********************************************************************
 * 3. Main content
 *
 */

#main {
	padding-top: 1em;
	margin-top: 1em;
	clear: both;
}

#content {
	padding-bottom: 2em;
}

.news-page .row {
	padding: 20px 0;
}

.news-page h2 a {
	color: #585858;
}

/* TODO factorize */
.news-page h3 {
	text-transform: uppercase;
	color: #afafaf;
	font-size: 16px;
	margin: 10px 0;
}

.readmore-button {
	border: 1px solid black;
	border-radius: 2px;
	background-color: none;
	color: black;
	text-transform: uppercase;
	width: 70vw;
	margin: 20px auto 0 auto;
	display: block;
}

.readmore-button:hover {
	background-color: #b0b0b0;
	color: white;
}

.nav {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
	.nav .nav {
		padding-left: 1.5em;
		list-style: disc;
	}
	.nav li {
		margin: 1em 0;
	}

	.nav-tree li {
		margin-top: 0;
		margin-bottom: 0;
	}

	.nav a {
		font-weight: bold;
	}

	.nav-tree li a {
		color: #777;
	}

	.nav .current > a {
		color: #333;
	}

.news-item h2 {
	text-transform: uppercase;
	color: #afafaf;
	font-size: 16px;
	margin: 10px 0;
}

/*********************************************************************
 * 4. Footer
 *
 */

#footer {
	clear: both;
	border-top: 1px solid #eee;
	font-size: 80%;
	padding: 20px;
}

/*********************************************************************
 * 5. Media queries for responsive layout
 *
 */

@media only screen and (min-width: 767px) {
	/* mobile layout */

	.navbar-nav {
		float: right;
	}

	.navbar-brand {
		padding-top: 20px;
	}

	/* News Page */
	.news-page > .row {
		padding-bottom: 40px;
		padding-top: 0;
		margin-bottom: 40px;
		border-bottom: 1px solid #b0b0b0;
	}

	.news-page > .news-headline {
		border: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.news-page h2 {
		margin-top: 0;
	}

	.readmore-button {
		width: 150px;
		margin: 0;
	}

}

@media only screen and (min-width: 1200px) {
	/* extra-wide desktop layout */

	body, td, textarea {
		font-size: 115%;
	}
}
